@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 85%;
    margin: auto;
    overflow-x: hidden;
}

.colorC {
    color: #335384;
}

.main {
    border: 5px solid #335384;
    border-radius: 20px;
    overflow: hidden;
}

.main_left {
    background-color: #335384;
    color: aliceblue;
    border-radius: 15px;
}

/* Sección lateral izquierda */
.image-profile {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.image-profile img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    object-fit: scale-down;
}

.datos {
    margin: 25px auto;
}

.datos h3 {
    padding: 5px auto;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
}

.datos h3:hover {
    color: #000;
}

.datos ul {
    list-style-type: none;
}

.datos li {
    text-align: left;
    font-size: 1.1em;
    margin: 5px 0px;
}

.datos p {
    font-size: 1.1em;
    margin: 5px auto;
    color: #000;
    display: inline-block;
    width: 100%;
}

.datos a {
    color: #000;
    margin: 5px auto;
    display: inline-block;
}

@media screen and (max-width: 991px) {
    .datos {
        display: flex;
        font-size: 0.8em;
        justify-content: space-evenly;
    }

    .datos h3 {
        font-size: 1em;
    }

    .name h2 {
        font-size: 1.5em;
    }

}

.col .card {
    width: 100%;
    position: relative;
    height: auto;
}

.col .card-skils {
    height: 100%;
}

/* Sección principal */
.info-name {
    color: #335384;
    text-transform: uppercase;
}

.text-sub h3 {
    color: #5BA7D1;
    text-transform: uppercase;
    font-size: 1.3em;
}

.text-info-main {
    text-align: justify;
}

/* Estilos del boton del close del modal */

input[type="radio"] {
    position: relative;
    top: 20px;
    top: 450px;
}

.contenedor-contanta {
    margin: auto;
    padding: 15px;
    width: 100%;
    height: 80%;
}

.contenedor-contanta a {
    text-decoration: none;
}

.contenedor-contanta a:hover {
    text-decoration: underline;
    background-color: #335384;
    padding: 5px;
    color: #fff;
    border-radius: 10px;
}

input[type="range"] {
    background-color: #335384;

}

/* Estilos del portafolio */
.navegacion {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #333;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.navegacion.active {
    left: 0;
}

.banner,
.nav-link {
    position: relative;
    width: 50%;
    height: 100%;
}

.banner {
    z-index: 1000;
}

/* .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.nav-link ul {
    position: relative;
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
}

.nav-link ul li {
    position: relative;
    list-style: none;
}

.nav-link ul li a {
    position: relative;
    color: white;
    font-size: 2em;
    font-weight: 500;
    text-decoration: none;
    margin: 5px 0 0 100px;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-link ul li a:hover {
    color: #2196f3;
}

/* Estilos de sección principal */
.section-main {
    position: relative;
    width: 100%;
    left: 0;
    transition: 1s;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.section-main.active {
    left: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.toggle {
    position: relative;
    left: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    background-color: #ccc;
    border-radius: 50%;
}

.toggle.active {
    left: -200px;
}

.toggle::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #777;
    transform: translateY(-6px);
    transition: 0.5s;
}

.toggle::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #777;
    transform: translateY(6px);
    transition: 0.5s;
}

.toggle.active {
    background-color: red;
}

.toggle.active::before {
    transform: translateY(0px) rotate(45deg);
    background-color: white;
}

.toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
    background-color: white;
}

.btn-toggle {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ff1455;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1px;
}

/* Estilos de la imagen de perfil */
.section-main .img-perfil {
    /* position: relative; */
    margin: auto;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
    animation: fotoPerfil 4s linear infinite;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.section-main .img-perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes fotoPerfil {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}

.section-main .content {
    max-width: 700px;
    margin-left: 40px;
}

.section-main .content h2 {
    font-weight: 500;
    letter-spacing: 1px;
    color: #777;
    line-height: 2.5em;
}

.section-main .content h2 span {
    font-weight: 700;
    color: #2196f3;
    font-size: 2.5em;
}

.section-main .content p {
    color: #777;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.section-main .content .btn-toggle {
    background-color: #2196f3;
}

/* Estilos del footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-sociales {
    position: relative;
    display: flex;
    align-items: center;
}

.redes-sociales li {
    list-style: none;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.redes-sociales li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 50%;
    background-color: #294d64;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.redes-sociales li a:hover {
    transform: scale(2) rotate(360deg);
    background-color: #03a9f4;
}

.copyrightText {
    font-weight: 500;
    color: #777;
    letter-spacing: 1px;
}

#particles-js {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.particles-js-canvas-el {
    position: absolute;
}

.card-experiencia {
    width: 100%;
    height: auto;
}

.home-main{
    width: 25%;
    position: relative;
}